* {
    border-collapse: collapse;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 20px;
}

.menu div {
    max-width: 600px;
}

@media screen and (max-width: 991px) {
    .menu {
        display: flex;
        margin: 30px 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu div:not(:last-child) {
        margin-right: 0px;
    }
    .menu div:first-child {
        margin-right: 40px;
    }
    .menu div:last-child {
        margin-right: 40px;
    }
    .dish-1,
    .dish-2 {
        width: calc((100% - 40px)/2);
    }
    .dish-3 {
        width: 100%;
    }
}

.menu div:not(:last-child) {
    margin-right: 40px;
}

@media screen and (max-width: 768px) {
    .menu {
        display: flex;
        margin: 0px 20px;
        align-items: center;
        flex-direction: column;
    }
    .menu div:first-child {
        margin-right: 0px;
    }
    .menu div:not(:last-child) {
        margin-right: 0px;
    }
    .menu div:last-child {
        margin-right: 0px;
    }
    .dish-1,
    .dish-2,
    .dish-3 {
        width: 60%;
        min-width: 270px;
    }
}

.menu p {
    padding: 50px 20px 10px;
}

.chicken,
.beef,
.sushi {
    background-color: gray;
    border: 2px solid black;
    position: relative;
}

.chicken::before {
    content: "Chicken";
    border: 2px solid black;
    background-color: palevioletred;
    text-align: center;
    width: 30%;
    height: 20px;
    position: absolute;
    top: -2px;
    right: -2px;
    padding: 5px;
    line-height: 20px;
    font-weight: bold;
    font-size: 1.1rem;
}

.beef::before {
    content: "Beefn";
    color: aliceblue;
    border: 2px solid black;
    background-color: brown;
    text-align: center;
    width: 30%;
    height: 20px;
    position: absolute;
    top: -2px;
    right: -2px;
    padding: 5px;
    line-height: 20px;
    font-weight: bold;
    font-size: 1.1rem;
}

.sushi::before {
    content: "Sushi";
    border: 2px solid black;
    background-color: rgba(206, 206, 48, 0.565);
    text-align: center;
    width: 30%;
    height: 20px;
    position: absolute;
    top: -2px;
    right: -2px;
    padding: 5px;
    line-height: 20px;
    font-weight: bold;
    font-size: 1.1rem;
}